{% extends 'style_information/base.html' %}
{% block title %}Summary of Style Information{% endblock %}
{% block content %}

    <div class="mt-3 mb-1 w-full px-4">
        <h1 class="text-2xl text-green-500 font-bold mb-6 text-center">Comments of Style Information</h1>

        <!-- Detailed Process Table -->
        <table class="excel-table w-full">
            <tr>
                <td class="label font-medium">Comments:</td>
                <td><textarea class="form-control"></textarea></td>
            </tr>

        </table>
    </div>
{% endblock %}